<%- include("partials/header"); -%>
    <section class="header-section">
      <nav>
        <div class="nav-logo">
          <img src="images/Music-icon.png" alt="Music-icon.png">
        </div>
        <!-- <div class="nav-brand">
          <h2>Music To Music</h2>
        </div> -->
        <div class="nav-items">
          <ul>
            <li>
              <a href="#">
                <ul>
                  <li>آهنگ های جدید</li>
                  <li>New Tracks</li>
                </ul>
              </a>
            </li>
            <li>
              <a href="#">
                <ul>
                  <li>آهنگ های شاد</li>
                  <li>Happy Songs</li>
                </ul>
              </a>
            </li>
            <li>
              <a href="#">
                <ul>
                  <li>آهنگ های غمگین</li>
                  <li>Sad Songs</li>
                </ul>
              </a>
            </li>
            <li>
              <a href="#">
                <ul>
                  <li>آهنگ های ریمیکس</li>
                  <li>Remix Songs</li>
                </ul>
              </a>
            </li>
          </ul>
        </div>
        <div class="brand">
          <h1>Musics</h1>
        </div>
      </nav>
    </section>
    <section class="home-section">

      <section class="top-part">
        <div class="card">
          <a href="#">
            <div class="card-image">
              <img src="images/card1.jpg" alt="card1">
            </div>
            <div class="card-text">
              <p>دانلود آهنگ بهنام بانی دو دل عاشق</p>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <div class="card-image">
              <img src="images/card1.jpg" alt="card1">
            </div>
            <div class="card-text">
              <p>دانلود آهنگ بهنام بانی دو دل عاشق</p>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <div class="card-image">
              <img src="images/card1.jpg" alt="card1">
            </div>
            <div class="card-text">
              <p>دانلود آهنگ بهنام بانی دو دل عاشق</p>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <div class="card-image">
              <img src="images/card1.jpg" alt="card1">
            </div>
            <div class="card-text">
              <p>دانلود آهنگ بهنام بانی دو دل عاشق</p>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <div class="card-image">
              <img src="images/card1.jpg" alt="card1">
            </div>
            <div class="card-text">
              <p>دانلود آهنگ بهنام بانی دو دل عاشق</p>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <div class="card-image">
              <img src="images/card1.jpg" alt="card1">
            </div>
            <div class="card-text">
              <p>دانلود آهنگ بهنام بانی دو دل عاشق</p>
            </div>
          </a>
        </div>
      </section>
      <section class="left-part">
        <hr>
        <div class="list-title">
          <h3>جدیدترین آهنگ ها</h3>
        </div>
        <hr>
        <div class="list-content">
          <ul>
            <a href="#"><li>دانلود آهنگ اویس گادفادر</li></a>
            <a href="#"><li>دانلود آهنگ هادی فیض آبادی نگاه منحصر به فرد</li></a>
            <a href="#"><li>دانلود آهنگ امیر بژندی تکرار</li></a>
            <a href="#"><li>دانلود آهنگ دلارون دلارون دل نینه آروم رحمان رحیم</li></a>
            <a href="#">دانلود آهنگ هامی بگو کجای این جهانی<li></li></a>
            <a href="#"><li>دانلود آهنگ اویس گادفادر</li></a>
            <a href="#"><li>دانلود آهنگ هادی فیض آبادی نگاه منحصر به فرد</li></a>
            <a href="#"><li>دانلود آهنگ امیر بژندی تکرار</li></a>
            <a href="#"><li>دانلود آهنگ دلارون دلارون دل نینه آروم رحمان رحیم</li></a>
            <a href="#">دانلود آهنگ هامی بگو کجای این جهانی<li></li></a>
            <a href="#"><li>دانلود آهنگ اویس گادفادر</li></a>
            <a href="#"><li>دانلود آهنگ هادی فیض آبادی نگاه منحصر به فرد</li></a>
            <a href="#"><li>دانلود آهنگ امیر بژندی تکرار</li></a>
            <a href="#"><li>دانلود آهنگ دلارون دلارون دل نینه آروم رحمان رحیم</li></a>
            <a href="#">دانلود آهنگ هامی بگو کجای این جهانی<li></li></a>
            <a href="#"><li>دانلود آهنگ اویس گادفادر</li></a>
            <a href="#"><li>دانلود آهنگ هادی فیض آبادی نگاه منحصر به فرد</li></a>
            <a href="#"><li>دانلود آهنگ امیر بژندی تکرار</li></a>
            <a href="#"><li>دانلود آهنگ دلارون دلارون دل نینه آروم رحمان رحیم</li></a>
            <a href="#">دانلود آهنگ هامی بگو کجای این جهانی<li></li></a>
          </ul>
        </div>
      </section>
      <%  posts.forEach(function(post){ %>
        <section class="post-part">
          <div class="post">
            <div class="post-title">
              <h3> <%= post.header1 %> <strong>♫</strong> </h3></div>
            <hr>
            <div class="post-content">
              <h4> <%= post.header2 %> </h4>
              <p> <%= post.description1 %> ♫</p>
              <p> <%= post.description2 %> </p>
              <img src="images/card1.jpg" alt="post1">
              <button type="button" class="download-btn" name="button">دانلود آهنگ</button>
            </div>
          </div>
        </section>
      <%  }) %>

      <section class="right-part">
        <div class="list-title">
          <h3>لــیست خــوانندگان</h3>
          <h3>A R T I S T - L I S T</h3>
        </div>
        <hr>
        <div class="list-content">
          <ul>
            <a href="#"><li>آرش ای پی</li></a>
            <a href="#"><li>بهنام بانی</li></a>
            <a href="#"><li>آصف آریا</li></a>
            <a href="#"><li>شادمهر عقیلی</li></a>
            <a href="#"><li>حسن شماعی زاده</li></a>
            <a href="#"><li>امین رستمی</li></a>
            <a href="#"><li>امین بانی</li></a>
            <a href="#"><li>امیرعباس گلاب</li></a>
            <a href="#"><li>بابک جهانبخش</li></a>
            <a href="#"><li>حامد زمانی</li></a>
          </ul>
          <ul>
            <a href="#"><li>آرش ای پی</li></a>
            <a href="#"><li>بهنام بانی</li></a>
            <a href="#"><li>آصف آریا</li></a>
            <a href="#"><li>شادمهر عقیلی</li></a>
            <a href="#"><li>حسن شماعی زاده</li></a>
            <a href="#"><li>امین رستمی</li></a>
            <a href="#"><li>امین بانی</li></a>
            <a href="#"><li>امیرعباس گلاب</li></a>
            <a href="#"><li>بابک جهانبخش</li></a>
            <a href="#"><li>حامد زمانی</li></a>
          </ul>
        </div>
      </section>
    </section>

<%- include('partials/footer'); -%>
